<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myhomespace.zhou.spider_consumer.dao.PageDao">

    <select id="queryAll" resultType="cn.myhomespace.zhou.spider_consumer.object.Page">
        select *  from spider_page
    </select>

    <select id="count" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1)  from spider_page
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="siteName!=null">
                and siteName=#{siteName}
            </if>
            <if test="title!=null">
                and title like #{title}
            </if>
        </trim>
        order by createTime desc
    </select>

    <select id="queryByParams" parameterType="java.util.Map" resultType="cn.myhomespace.zhou.spider_consumer.object.Page">
        select * from spider_page
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="siteName!=null">
               and siteName=#{siteName}
            </if>
            <if test="title!=null">
                and title like #{title}
            </if>
        </trim>
        order by createTime desc
        <if test="pageSize!=null">
            limit #{start},#{pageSize}
        </if>

    </select>
    <insert id="insertBatch" parameterType="cn.myhomespace.zhou.spider_consumer.object.Page">
        insert into spider_page (title,content,url,siteName,createTime,pic,sources)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (
            #{item.title,jdbcType=VARCHAR},
            #{item.content,jdbcType=VARCHAR},
            #{item.url,jdbcType=VARCHAR},
            #{item.siteName,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=DATE},
            #{item.pic,jdbcType=VARCHAR},
            #{item.sources,jdbcType=VARCHAR})
        </foreach>

    </insert>
</mapper>